{{#each products}}
  <div>
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <p>Precio: ${{price}}</p>
  </div>
{{/each}}


<form id="productForm">
  <label for="productTitle">Título:</label>
  <input type="text" id="productTitle" required>

  <label for="productDescription">Descripción:</label>
  <input type="text" id="productDescription" required>

  <label for="productPrice">Precio:</label>
  <input type="number" id="productPrice" required>

  <button type="submit">Agregar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="../../public/js/index.js"></script>